<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>IBeAHero | Contact</title>
        <meta name='description' content='The contact page of destiny.'>
        {{template "head-links"}}
    </head>
    <body>
        {{template "upper-header"}}
        {{template "header"}}
        <div class="page-main-container">
            <div class="page-container">
                <div class="page-1200-container">
                    <h3 class="page-title">
                        Contact Page
                    </h3>
                    <form action="/" method="POST">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-item" value=""/>
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="username" id="email" class="form-item" value=""/>
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" name="subject" id="subject" class="form-item" value=""/>
                        <label for="message" class="form-label">Message</label>
                        <textarea name="message" col="4" id="message"></textarea>
                        <input type="submit" name="submit-contact" id="edit-submit" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
        
        {{template "footer"}}
    </body>
</html>