<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>IBeAHero | Contact</title>
        <meta name='description' content='The contact page of destiny.'>
        {{template "head-section"}}
    </head>
    <body>
        {{template "upper-header" .}}
        {{template "header" .}}
        <div class="page-main-container">
            <div class="page-container">
                <div class="page-1200-front-container">
                    <h3 class="page-title">
                        Contact Page
                    </h3>
                    <form action="/contact" method="POST">
                        {{ with .Errors.Success }}
                            <p class="server-success">{{ . }}</p>
                        {{ end }}
                        {{ with .Errors.Server }}
                            <p class="server-error">{{ . }}</p>
                        {{ end }}
                        {{ with .Errors.Name }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="name" class="form-label">Name *</label>
                        {{ if .User.Fname }}
                            <input type="text" name="name" id="name" placeholder="Letters and spaces" class="form-item" value="{{ .User.Fname }} {{ .User.Lname }}"/>
                        {{ else }}
                            {{ if .Message.Name }}
                                <input type="text" name="name" id="name" placeholder="Letters and spaces" class="form-item" value="{{ .Message.Name }}"/>
                            {{ else }}
                                <input type="text" name="name" id="name" placeholder="Letters and spaces" class="form-item" value=""/>
                            {{ end }}
                        {{ end }}
                        {{ with .Errors.Email }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="email" class="form-label">Email *</label>
                        {{ if .User.Email }}
                            <input type="email" name="email" id="email" placeholder="someone@somewhere.com" class="form-item" value="{{ .User.Email }}"/>
                        {{ else }}
                            {{ if .Message.Email }}
                                <input type="email" name="email" id="email" placeholder="someone@somewhere.com" class="form-item" value="{{ .Message.Email }}"/>
                            {{ else }}
                                <input type="email" name="email" id="email" placeholder="someone@somewhere.com" class="form-item" value=""/>
                            {{ end }}
                        {{ end }}
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" name="subject" id="subject" placeholder="Letters and spaces" class="form-item" value=""/>
                        {{ with .Errors.Message }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="message" class="form-label">Message *</label>
                        {{ if .Message.Message }}
                            <textarea name="message" col="4" id="message">{{ .Message.Message }}</textarea>
                        {{ else }}
                            <textarea name="message" col="4" id="message"></textarea>
                        {{ end }}
                        <input type="submit" name="submit-contact" id="edit-submit" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
        
        {{template "footer" .}}
    </body>
</html>