<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>IBeAHero | Home</title>
        <meta name='description' content='The home page of destiny.'>
        {{template "head-section"}}
    </head>
    <body>
        {{template "upper-header" .}}
        {{template "header" .}}
        <div class="page-main-container">
            <div class="page-container">
                <div class="page-1200-front-container">
                    <h3 class="page-title">
                        Home Page
                    </h3>
                    <p style="text-align:center;margin-bottom:30px;">I be a hero is not a term ment to express being better than another human being. It is the air that the army brought home at the end of World War 2. When we went out and fought for something real and were heros because of it. It is an attitude of leave no one behind and an honesty and truth that helped out another that was in need. It stopped hatred. It loathes Hatred. It has no place with racism.</p>
                    {{ if .Fname }}
                        <p>Name: {{ .Fname }} {{ .Lname }}</p>
                        <p>Username: {{ .Uname }}</p>
                        <p>Email: {{ .Email }}</p>
                        <p>Role: {{ .Userrole }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
        {{template "footer" .}}
        {{template "newsletter" .}}
    </body>
</html>