/* Form Styles */

form {
    max-width: 960px;
    margin: 0 auto;
}

select {
    width: 100%;
    border: 1px solid #D8D8D8;
    padding: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    box-shadow: 1px 3px 6px #999;
}

form.post-form {
    padding-top: .5rem;
    margin: 0 auto;
    display: inline-block;
}

input:focus, textarea:focus {
    box-shadow: 1px 3px 6px #999;
}

p.server-success {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #006600;
    border-radius: 3px;
    color: #006600;
    opacity: .6;
}

p.server-error {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #990000;
    border-radius: 3px;
    color: #990000;
    opacity: .6;
}

p.error {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #990000;
    border-radius: 3px;
    color: #990000;
    opacity: .6;
}

.warning {
    color: #660000;
}

.form-item {
    padding: 0;
    width: 100%;
    margin: 0 0 1em;
}

.form-label {
    font-size: 1rem;
    color: #ffffff;
    background: #3750a9;
    padding: 6px 10px 0px 10px;
}

.form-radios {
    padding: 2px 10px;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    width: 100%;
    border: 1px solid #D8D8D8;
    padding: 1rem;
}

#imgfile {
    margin-bottom: 15px;
}

.form-required:after {
    content: '*';
    font-size: 1em;
    background: transparent;
    position: relative;
    top: .2em;
}

.form-actions {
    margin: 0;
}

#edit-submit, #edit-preview {
    color: #ffffff;
    background: #3750a9;
    border: 2px solid #ffffff;
    margin: 1em .5em 0;
    padding: 7px 0px;
    max-width: 270px;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    font-family: 'Segoe Script', sans-serif;
}

.post-buttons {
    color: #ffffff;
    background: #3750a9;
    border: 2px solid #ffffff;
    padding: 7px 15px !important;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    font-family: 'Segoe Script', sans-serif;
}

#edit-submit:focus, #edit-preview:focus,
#edit-submit:hover, #edit-preview:hover {
    background: #3750a9;
    margin: 1em .5em 0;
    padding: 7px 0px;
    transition: all .25s ease-in-out;
    color: #3750a9;
    background: #ffffff;
    border: 2px solid #3750a9;
    transition: all .1s ease-in-out;
}

.post-buttons:focus,  .post-buttons:hover {
    background: #3750a9;
    padding: 7px 15px;
    transition: all .25s ease-in-out;
    color: #3750a9;
    background: #ffffff;
    border: 2px solid #3750a9;
    transition: all .1s ease-in-out;
}

.login-links {
    text-align: center;
    margin-bottom: 50px;
}

.login-links a {
    text-decoration: none;
}