/* Main Styles */

body {
    position: relative;
    background: #ffffff;
    height: 100%;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img{
    height: auto;
    width: auto;
    vertical-align: bottom;
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    border: 0;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #111820;
}

p {
    margin: 0;
    padding: 0;
}

.index-img-wrapper {
    max-width: 675px;
    margin: 0 auto;
}

img.user-image {
    max-width: 675px;
    width: 100%;
}

@media screen {
    .page-main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
    }
    
    .page-container {
        flex-grow: 1;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
    }

    .page-1200-container {
        flex-grow: 1;
        align-items: flex-start;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .page-title {
        flex-grow: 1;
        font-size: 26px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Segoe Script', sans-serif;
    }
    
    .image-container {
        width: 100%;
        padding: 5px 20px 20px 20px;
    }
    
    .image-label {
        font-size: 1rem;
        color: #ffffff;
        background: #3750a9;
        padding: 6px 10px 0px 10px;
    }
    
    .image-img {
        max-width: 650px !important;
        margin: 0 auto;
        width: 100%;
    }
    
    .image-caption {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }

    .email-wrapper {
        max-width: 702px;
        margin:0 auto;
    }

    .user-wrapper {
        padding: 20px;
        border: 1px solid #dddddd;
        max-width: 450px;
        margin:30px auto;
    }

    .user-text {
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Segoe Script', sans-serif;
    }

    table.table {
        width: 100%;
    }

    table.table thead {
        color: #ffffff;
        background: #3750a9;
        
    }

    table.table thead th {
        padding: 10px;
    }

    table.table tbody tr td {
        border-bottom: 1px solid #dddddd;
    }

    a.actions-links {
        padding: 10px;
        margin-bottom: 5px
    }

    .post-sidebar {
        width: 100%;
    }
    
    .post-content {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .page-container {
        flex-grow: 1;
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    .page-1200-front-container {
        flex-grow: 1;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .page-1200-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 1;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .sidebar {
        flex-grow: 1;
        max-width: 300px;
    }

    .content {
        flex-grow: 2;
        margin-left:20px;
    }

    .posts-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .post-sidebar {
        flex-grow: 1;
        max-width: 300px;
    }

    .post-content {
        flex-grow: 2;
        margin-left:20px;
        padding-top: 30px;
    }

    .post-content-full {
        width: 100%;
        margin:0 auto;
    }

    .post-text {
        font-weight: 300;
        line-height: 1.5rem;
        text-align: center;
    }
}
