<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>View Post</title>
        <meta name='description' content='View the post content.'>
        {{template "head-section"}}
    </head>
    <body>
        {{template "upper-header" .}}
        {{template "header" .}}
        <div class="page-main-container">
            <div class="page-1200-container">
                <div class="sidebar">
                    {{template "sidebar-menu" .}}
                </div>
                <div class="content">
                    <div class="posts-wrapper">
                        <div class="post-sidebar">
                            <div class="user-wrapper">
                                <img src="../public/images/uploads/{{ .User.ID }}/{{ .Post.Image }}" class="user-image" alt="Ibeahero Logo"/>
                            </div>
                        </div>
                        <div class="post-content">
                            <h1 class="page-title">
                                {{ if .Post.Title }}
                                    {{ .Post.Title }}
                                {{ end }}
                            </h1>
                            <p class="post-text">{{ .Post.Body }}</p>
                        </div>
                    </h1>
                    </div>
                </div>
            </div>
        </div>
        
        {{template "footer" .}}
    </body>
</html>