<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>IBeAHero | User Admin</title>
        <meta name='description' content='The about page of destiny.'>
        {{template "head-links"}}
    </head>
    <body>
        {{template "upper-header"}}
        {{template "header"}}
        <div class="page-main-container">
            <div class="page-container">
                <div class="page-1200-container">
                    <h3 class="page-title">
                        Admin Page
                    </h3>
                </div>
            </div>
        </div>
        
        {{template "footer"}}
    </body>
</html>