{{define "login"}}
    <form action="/" method="POST">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-item" value=""/>

        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-item" value=""/>
        <input type="submit" name="submit-login" id="edit-submit" value="Login"/>
    </form>
{{end}}