<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>IBeAHero | Login</title>
        <meta name='description' content='The login page to destiny.'>
        {{template "head-links"}}
    </head>
    <body>
        {{template "upper-header"}}
        {{template "header"}}
        <div class="page-main-container">
            <div class="page-container">
                <div class="page-1200-container">
                    <h3 class="page-title">
                        Register
                    </h3>
                    {{ with .Errors.Server }}
                        <p class="error">{{ . }}</p>
                    {{ end }}
                    <form action="/register" method="POST">
                        {{ with .Errors.Fname }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="fname" class="form-label">First Name</label>
                        {{ if .Fname }}
                            <input type="text" name="fname" id="fname" class="form-item" value="{{ .Fname }}"/>
                        {{ else }}
                            <input type="text" name="fname" id="fname" class="form-item" value=""/>
                        {{ end }}
                        {{ with .Errors.Lname }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="lname" class="form-label">Last Name</label>
                        {{ if .Lname }}
                            <input type="text" name="lname" id="lname" class="form-item" value="{{ .Lname }}"/>
                        {{ else }}
                            <input type="text" name="lname" id="lname" class="form-item" value=""/>
                        {{ end }}
                        {{ with .Errors.Uname }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="uname" class="form-label">Username</label>
                        {{ if .Uname }}
                            <input type="text" name="uname" id="uname" class="form-item" value="{{ .Uname }}"/>
                        {{ else }}
                            <input type="text" name="uname" id="uname" class="form-item" value=""/>
                        {{ end }}
                        {{ with .Errors.Email }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="email" class="form-label">Email</label>
                        {{ if .Email }}
                            <input type="email" name="email" id="email" class="form-item" value="{{ .Email }}"/>
                        {{ else }}
                            <input type="email" name="email" id="email" class="form-item" value=""/>
                        {{ end }}
                        {{ with .Errors.Password }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="password" class="form-label">Password</label>
                        {{ if .Password }}
                            <input type="password" name="password" id="password" class="form-item" value="{{ .Password }}"/>
                        {{ else }}
                            <input type="password" name="password" id="password" class="form-item" value=""/>
                        {{ end }}
                        {{ with .Errors.RePassword }}
                            <p class="error">{{ . }}</p>
                        {{ end }}
                        <label for="rePassword" class="form-label">Confirm Password</label>
                        {{ if .RePassword }}
                            <input type="password" name="rePassword" id="rePassword" class="form-item" value="{{ .RePassword }}"/>
                        {{ else }}
                            <input type="password" name="rePassword" id="rePassword" class="form-item" value=""/>
                        {{ end }}
                        <input type="submit" name="submit-register" id="edit-submit" value="Register"/>
                        <input type="submit" name="submit-register-facebook" id="edit-submit" value="Register With Facebook"/>
                    </form>
                </div>
            </div>
        </div>
        
        {{template "footer"}}
    </body>
</html>