<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>IBeAHero | Login</title>
        <meta name='description' content='The login page to destiny.'>
        {{template "head-links"}}
    </head>
    <body>
        {{template "upper-header"}}
        {{template "header"}}
        <div class="page-main-container">
            <div class="page-container">
                <div class="page-1200-container">
                    <h3 class="page-title">
                        Reset Password
                    </h3>
                    <form action="/" method="POST">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-item" value=""/>

                        <label for="re-password" class="form-label">Re Password</label>
                        <input type="re-password" name="re-password" id="re-password" class="form-item" value=""/>
                        <input type="submit" name="submit-login" id="edit-submit" value="Reset Password"/>
                    </form>
                </div>
            </div>
        </div>
        
        {{template "footer"}}
    </body>
</html>