<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>Posts Manager</title>
        <meta name='description' content='Manages the post content.'>
        {{template "head-section"}}
    </head>
    <body>
        {{template "upper-header" .}}
        {{template "header" .}}
        <div class="page-main-container">
            <div class="page-1200-container">
                <div class="sidebar">
                    {{template "sidebar-menu" .}}
                </div>
                <div class="content">
                    <h1 class="page-title">
                        Posts Manager
                    </h1>
                    <a href="/posts/create" class="actions-links">Create Post</a>
                    <div class="posts-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%">ID</th>
                                    <th width="60%">Title</th>
                                    <th width="20%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ if .Posts }}
                                    {{ range .Posts }}
                                        <td>{{ .Id }}</td>
                                        <td>{{ .Title }}</td>
                                        <td>
                                            <a href="/admin/view/post/{{ .Id }}" class="actions-links">View Post</a>
                                            <a href="/admin/edit/post/{{ .Id }}" class="actions-links">Edit Post</a>
                                            <a href="/admin/delete/post/{{ .Id }}" class="actions-links">Delete Post</a>
                                        </td>
                                    {{ end }}
                                {{ else }}
                                    <td colspan="3">There are no posts yet.</td>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        {{template "footer" .}}
    </body>
</html>