<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='UTF-8'>
        <title>User Manager</title>
        <meta name='description' content='Manages the users using the site.'>
        {{template "head-section"}}
    </head>
    <body>
        {{template "upper-header" .}}
        {{template "header" .}}
        <div class="page-main-container">
            <div class="page-1200-container">
                <div class="sidebar">
                    {{template "sidebar-menu" .}}
                </div>
                <div class="content">
                    <h1 class="page-title">
                        User Manager
                    </h1>
                    {{ with .Errors.Server }}
                        <p class="server-error">{{ . }}</p>
                    {{ end }}
                    {{ with .Errors.Success }}
                        <p class="server-success">{{ . }}</p>
                    {{ end }}
                    <form action="/users/create" class="post-form" method="POST">
                        <input type="submit" name="create-submit" class="post-buttons" value="Create User"/>
                    </form>
                    <div class="posts-wrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th width="50%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ if .Users }}
                                    {{ range .Users }}
                                        <tr>
                                            <td>{{ .Fname }} {{ .Lname }}</td>
                                            <td align="right">
                                                <form action="/users/handle" class="post-form" method="POST">
                                                    <input type="hidden" name="method" value="VIEW"/>
                                                    <input type="hidden" name="ID" value="{{ .ID }}"/>
                                                    <input type="submit" name="view-submit" class="post-buttons" value="View"/>
                                                </form>
                                                <form action="/users/edit" class="post-form" method="POST">
                                                    <input type="hidden" name="method" value="EDIT"/>
                                                    <input type="hidden" name="ID" value="{{ .ID }}"/>
                                                    <input type="submit" name="edit-submit" class="post-buttons" value="Edit"/>
                                                </form>
                                                {{ if ne .ID 1 }}
                                                    <form action="/users/handle" class="post-form" method="POST">
                                                        <input type="hidden" name="method" value="DELETE"/>
                                                        <input type="hidden" name="ID" value="{{ .ID }}"/>
                                                        <input type="submit" name="delete-submit" onclick="return confirm('Are you sure you want to delete this?')" class="post-buttons" value="Delete"/>
                                                    </form>
                                                
                                                    <form action="/users/handle" class="post-form" method="POST">
                                                        <input type="hidden" name="method" value="UPDATE-STATUS"/>
                                                        <input type="hidden" name="ID" value="{{ .ID }}"/>
                                                        <select name="status" class="status-select">
                                                            {{ if eq .Status 0 }}
                                                                <option value="0" selected="selected">Off</option>
                                                            {{ else }}
                                                                <option value="0">Off</option>
                                                            {{ end }}
                                                            {{ if eq .Status 1 }}
                                                                <option value="1" selected="selected">On</option>
                                                            {{ else }}
                                                                <option value="1">On</option>
                                                            {{ end }}
                                                        </select>
                                                        <input type="submit" name="edit-submit" class="post-buttons" value="Status"/>
                                                    </form>
                                                {{ end }}
                                            </td>
                                        </tr>
                                    {{ end }}
                                {{ else }}
                                    <tr>
                                        <td colspan="3">There are no users yet.</td>
                                    </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                    {{ if .Pagination.Pagination }}
                        {{ $pertenpage := .Pagination.PerTenPage }}
                        {{ $currentpage := .Pagination.CurrentPage }}
                        {{ $currenttenpage := .Pagination.CurrentTenPage }}
                        <div class="pagination">
                            <form action="/admin/users" class="post-form" method="POST">
                                <input type="hidden" name="method" value="PAGINATE"/>
                                <input type="hidden" name="currentpage" value="1"/>
                                <input type="hidden" name="tenpage" value="{{ $currenttenpage }}"/>
                                <input type="submit" name="paginate-submit" class="post-buttons" value="First Page"/>
                            </form>
                            {{ if ne .Pagination.RightTen 0 }}
                                <form action="/admin/users" class="post-form" method="POST">
                                    <input type="hidden" name="method" value="TENPAGE"/>
                                    <input type="hidden" name="tenpage" value="{{ .Pagination.RightTen }}"/>
                                    <input type="submit" name="paginate-submit" class="post-buttons" value="Last {{ $pertenpage }}"/>
                                </form>
                            {{ end }}
                            {{ range .Pagination.Pagination }}
                                {{ if eq $currentpage . }}
                                    <form action="/admin/users" class="post-form" method="POST">
                                        <input type="hidden" name="method" value="PAGINATE"/>
                                        <input type="hidden" name="currentpage" value="{{ . }}"/>
                                        <input type="hidden" name="tenpage" value="{{ $currenttenpage }}"/>
                                        <input type="submit" name="paginate-submit" class="post-buttons active" value="{{ . }}"/>
                                    </form>
                                {{ else }}
                                    <form action="/admin/users" class="post-form" method="POST">
                                        <input type="hidden" name="method" value="PAGINATE"/>
                                        <input type="hidden" name="currentpage" value="{{ . }}"/>
                                        <input type="hidden" name="tenpage" value="{{ $currenttenpage }}"/>
                                        <input type="submit" name="paginate-submit" class="post-buttons" value="{{ . }}"/>
                                    </form>
                                {{ end }}
                            {{ end }}
                            {{ if ge .Pagination.LastTenPage .Pagination.LeftTen }}
                                <form action="/admin/users" class="post-form" method="POST">
                                    <input type="hidden" name="method" value="TENPAGE"/>
                                    <input type="hidden" name="tenpage" value="{{ .Pagination.LeftTen }}"/>
                                    <input type="submit" name="paginate-submit" class="post-buttons" value="Next {{ $pertenpage }}"/>
                                </form>
                            {{ end }}
                            <form action="/admin/users" class="post-form" method="POST">
                                <input type="hidden" name="method" value="PAGINATE"/>
                                <input type="hidden" name="currentpage" value="{{ .Pagination.LastPage }}"/>
                                <input type="hidden" name="tenpage" value="{{ $currenttenpage }}"/>
                                <input type="submit" name="paginate-submit" class="post-buttons" value="Last Page"/>
                            </form>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        
        {{template "footer" .}}
    </body>
</html>