<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Edit User</title>
        <meta name='description' content='Edit user content.'>
        {{template "head-section"}}
    </head>
    <body>
        {{template "upper-header" .}}
        {{template "header" .}}
        <div class="page-main-container">
            <div class="page-1200-container">
                <div class="sidebar">
                    {{template "sidebar-menu" .}}
                </div>
                <div class="content">
                    <div class="users-wrapper">
                        <h1 class="page-title">
                            Update User
                        </h1>
                        <form action="/users/handle" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="method" value="UPDATE-USER"/>
                            <input type="hidden" name="ID" value="{{ .User.ID }}"/>
                            <input type="hidden" name="if_profile" value="0"/>
                            {{ with .Errors.Success }}
                                <p class="server-success">{{ . }}</p>
                            {{ end }}
                            {{ with .Errors.Server }}
                                <p class="server-error">{{ . }}</p>
                            {{ end }}
                            {{ with .Errors.User.Image }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="imgfile" class="form-label">Image</label>
                            <input type="file" name="imgfile" id="imgfile" />
                            {{ with .Errors.Fname }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="fname" class="form-label">First Name</label>
                            {{ if .User.Fname }}
                                <input type="text" name="fname" id="fname" class="form-item" value="{{ .User.Fname }}"/>
                            {{ else }}
                                <input type="text" name="fname" id="fname" class="form-item" value=""/>
                            {{ end }}
                            {{ with .Errors.Lname }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="lname" class="form-label">Last Name</label>
                            {{ if .User.Lname }}
                                <input type="text" name="lname" id="lname" class="form-item" value="{{ .User.Lname }}"/>
                            {{ else }}
                                <input type="text" name="lname" id="lname" class="form-item" value=""/>
                            {{ end }}
                            {{ with .Errors.Uname }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="uname" class="form-label">Username</label>
                            {{ if .User.Uname }}
                                <input type="text" name="uname" id="uname" class="form-item" value="{{ .User.Uname }}"/>
                            {{ else }}
                                <input type="text" name="uname" id="uname" class="form-item" value=""/>
                            {{ end }}
                            {{ with .Errors.Email }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="email" class="form-label">Email</label>
                            {{ if .User.Email }}
                                <input type="email" name="email" id="email" class="form-item" value="{{ .User.Email }}"/>
                            {{ else }}
                                <input type="email" name="email" id="email" class="form-item" value=""/>
                            {{ end }}
                            <input type="submit" name="edit-user" id="edit-submit" value="Edit User"/>
                        </form>
                        <h1 class="page-title">
                            Update Password
                        </h1>
                        <form action="/users/handle" method="POST">
                            <input type="hidden" name="method" value="UPDATE-PASSWORD"/>
                            <input type="hidden" name="ID" value="{{ .User.ID }}"/>
                            <input type="hidden" name="if_profile" value="0"/>
                            {{ with .Errors.Success }}
                                <p class="server-success">{{ . }}</p>
                            {{ end }}
                            {{ with .Errors.Server }}
                                <p class="server-error">{{ . }}</p>
                            {{ end }}
                            {{ with .Errors.Password }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-item" value=""/>
                            {{ with .Errors.RePassword }}
                                <p class="error">{{ . }}</p>
                            {{ end }}
                            <label for="rePassword" class="form-label">Confirm Password</label>
                            <input type="password" name="rePassword" id="rePassword" class="form-item" value=""/>
                            <input type="submit" name="edit-password" id="edit-submit" value="Edit Password"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        {{template "footer" .}}
    </body>
</html>